

.menu-mobile{
    display: none;
}

header .flex{
    justify-content: space-between;
  
    .logo{
        width: 50%;
        span{
            font-size: 40px;
            color:black;
        }
    }
    .ico{
        display: none;
        width: 8%;
        margin: 0 10px;
        cursor: pointer;

        .linha{
            width: 100%;
            padding: 2px 0;
            margin: 5px 0;
            background: black;
        }
        .menu-mobile-show{
            display: none;
        }
     

    }
    .menu-desktop{
        width: 60%;
        display: block;
        padding: 10px;
    }
   
    ul{
        float: right;
    }
    li{
        float: left;
        list-style-type: none;
        padding: 0 5px;
        cursor: pointer;
      
       
    }
    li:hover{
        color:red;
    }
    a{
        font-size: 25px;
    }

}
.center{
    max-width: 1100px;
}
  @media(max-width:700px){

    
header{
    padding: 20px 0;
    position: relative;
    
  
}
header .flex{
    .menu-desktop{
  
        display: none;
       
    }
    .ico{
        display: block;
    }
}
.menu-mobile-show{
    display: block;
}
.menu-mobile-hidden{
    display: none;
}


.menu-mobile{
       
    position: absolute;
    z-index: 999;
    font-size: 20px;
    width:100%;
    text-align: center;
    background:white;
    min-height: 100%;
    text-align: center;
    li{
        padding: 10px 0;
        cursor: pointer;
    }
    li:hover{
        background: red;
    }
}
}
  