@import '../Main.scss';

footer{
    background-color: gray;
.container{
    width:50% ;

    .li{
        width: 29%;
  
        padding: 5px 10px;
        a{
            text-decoration: none;
            font-size: 20px;
            color:$cor-primaria;
            font-weight: 500;
    }

  
  
}
.box-ico{
    width: calc(100%/5);
    padding: 20px 0;
}
.cor-ico{
    color:$cor-segundaria;
}
  
.box-texto{
    padding: 10px 20px;
}

    .form{
        border-radius: 10px;
        form{
            padding: 20px;
        }
                background-color: white;
               margin: 20px 0;
        input[type=text]{
            font-size: 22px;
            width: 70%;
          margin:  0 5px;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid black;
          outline: none;
            
        }
        input[type=submit]{
            font-size: 20px;
            padding: 5px;
           
            border:0;
            border-radius: 5px;
            background: $cor-primaria;
            padding: 8px;
            color:white;
            cursor: pointer;
        }
        input[type=submit]:hover{
            color:black;
        }
        
    }


}
    .container:nth-of-type(1){
        p{
           padding: 0 20px;
        }
    }


}

@media screen and (max-width:900px){
    footer{
        .container:nth-of-type(1){
            order:2;
            p:last-child{
                color: white;
            }
            .box-texto:nth-of-type(1){
                display: none;
            }
         
            .flex{
                justify-content: space-between;
            }
            
        }
     
        .container:nth-of-type(2){
            width: 80%;
            margin: 0 auto;
            order:1;
            .box-texto{
                width: 100%;
            }
        
        }
   
    .container{
        width:100% ;
            .box-ico{
                width: auto;
            }
            .box-texto{
                    text-align: center;
                p{
             
                    font-size: 20px;
                }
            
            }
    
    .form{
        order: 1;
        width: 100%;
        background: white;
        .box-texto{
            width: 100%;
      
    }
 } 
}
}}