<section class="mais-acessados">

    <div class="center">
        <div class="flex">
            <div class="box-graficos">
                <h2>Editoriais Mais Acessados</h2>
               <div class="flex"> 
                <div class="box-grafico">
                
                        <div class="texto-top" style="color:red">
                                75
                                </div>
                    <div class="box-texto">
                        <p>Governo</p>
                    </div>
                </div>
                <div class="box-grafico">
                        <div class="texto-top">
                                50
                                </div>
                        <div class="box-texto">
                                <p>Carnaval</p>
                            </div>
                    </div>
                    <div class="box-grafico">
                            <div class="texto-top">
                                    45
                                    </div>
                            <div class="box-texto">
                                    <p>Esporte</p>
                                </div>
                        </div>
                        <div class="box-grafico">
                                <div class="texto-top">
                                        30
                                        </div>
                                <div class="box-texto">
                                        <p>Férias</p>
                                    </div>
                            </div>
                            <div class="box-grafico">
                                    <div class="texto-top">
                                            25
                                            </div>
                                    <div class="box-texto">
                                            <p>Outros</p>
                                        </div>
                                </div>
                                </div>
            </div>
            <div class="box-texto">
                    <h2>Titulo Aqui</h2>
                    <div class="flex">
                                   
                            
                    <div class="sub-box-texto">

                            
                                <p>Non amet tempor magna minim. Veniam quis ad labore et quis anim ad
                                     Incididunt do ullamco eiusmod si Saiba Mais
                                     ]Non amet tempor magna minim. Veniam quis ad labore et quis anim ad
                                     Incididunt do ullamco eiusmod si Saiba Mais
                                     Non amet tempor magna minim. Veniam quis ad labore et quis anim ad
                                     Incididunt do ullamco eiusmod si Saiba Mais
                                     Non amet tempor magna minim. Veniam quis ad labore et quis anim ad
                                     Incididunt do ullamco eiusmod si Saiba Mais
                                     Non amet tempor magna minim. Veniam quis ad labore et quis anim ad
                                     Incididunt do ullamco eiusmod si Saiba Mais

                                </p>
                        </div>
                        <div class="sub-box-texto">
                                <p>Non amet tempor magna minim. Veniam quis ad labore 
                                    et quis anim ad. Incididunt do ullamco eiusmod si Saiba Mais
                                    Non amet tempor magna minim. Veniam quis ad labore et quis anim ad
                                    Incididunt do ullamco eiusmod si Saiba Mais
                                    Non amet tempor magna minim. Veniam quis ad labore et quis anim ad
                                     Incididunt do ullamco eiusmod si Saiba Mais
                                     Non amet tempor magna minim. Veniam quis ad labore et quis anim ad
                                     Incididunt do ullamco eiusmod si Saiba Mais
                                     Non amet tempor magna minim. Veniam quis ad labore et quis anim ad
                                  
                                </p>
                            </div>
                        </div><!---flex-->
                    </div>
           

        </div>

    
    
    </div>
</section>    