
@import '../Main.scss';
.produto{
    width:30%;
    text-align: center;
    padding:20px;
 
    .img{
        width: 100%;
    
    }
    .texto{
        width: 80%;
        margin: 0 auto;
        span{
            padding: 5px;
            font-size: 20px;
            cursor: pointer;
        }
        span:nth-of-type(2){
            color:$cor-primaria;
        }
    }
    img{
        width: 100%;
        cursor: pointer;
    }
    

   
}

@media screen and (max-width:900px){
    .produto{
        width: 50%;
    }
}