
:host(.position-left){
    background-color:red;
    position: absolute;
    left: 1%;
    top:45%;
    padding: 5px;
    cursor: pointer;
    span{
        font-size: 40px;
        color:white
    }
}

:host(.position-right){
   
    background-color:red;
    position: absolute;
    top:45%;
    right: 1%;
    padding: 5px;
    cursor: pointer;
    span{
        font-size: 40px;
        color:white
    }
    
}
